 <template lang="html">
  <v-app>
    <v-navigation-drawer
    v-model="drawer"
    app
    >
      <h1 class="text-center pa-3">CMNTY</h1>
      <v-list
        nav
      >
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-bookmark</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Bookmarks</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-file-word-box</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>WordCloud</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-help-circle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Questionnaire</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-group</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Focus</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-account-details</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>User details</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-playlist-check</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Task list</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-file-document</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Reported content</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-cogs</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-bullhorn</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Share your feedback</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer" /> -->
      <v-icon @click.stop="drawer = !drawer" class="mr-3">mdi-arrow-left</v-icon>
      <v-spacer/>
      <v-btn text primary
      >
        Front-End
      </v-btn>
      <v-btn text primary
      >
        Admin
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <v-alert
          v-model="alert"
          close-text="Close this message"
          color="blue-grey"
          dark
          dismissible
          tile
          class="mx-n3 mt-n3"
        >
          Vivamus consectetuer hendrerit lacus ed mollis eros et ultrices tempus mauris ipsum aliquam libero non adipiscing dolor urna a orci
        </v-alert>

        <div class="d-flex">
          <v-flex mr-3>
            <div class="d-flex">
              <v-flex class="d-flex">
                <v-flex xs6>
                  <span class="">
                    Category
                  </span>
                  <v-chip
                    class="mx-2"
                    color="blue lighten-5"
                    text-color="blue darken-3"
                  >
                    All
                    <v-avatar
                      right
                      class="blue lighten-4"
                    >
                      65
                    </v-avatar>
                  </v-chip>
                </v-flex>
                <v-flex xs6>
                  <span class="">
                    Manager
                  </span>
                  <v-chip
                    class="mx-2"
                    color="blue lighten-5"
                    text-color="blue darken-3"
                  >
                    All
                    <v-avatar
                      right
                      class="blue lighten-4"
                    >
                      65
                    </v-avatar>
                  </v-chip>
                </v-flex>
              </v-flex>
              <v-btn icon>
                <v-icon>mdi-chevron-down</v-icon>
              </v-btn>
            </div>
            <v-divider class="my-3"></v-divider>
          </v-flex>
          <v-btn icon>
            <v-icon>mdi-cog</v-icon>
          </v-btn>
        </div>

        <div class="d-flex justify-end mb-4">
          <v-chip
            color="amber"
            text-color="white"
          >
            <v-avatar left>
              <v-icon>mdi-emoticon</v-icon>
            </v-avatar>
            61%
          </v-chip>
          <v-btn depressed rounded small class="ml-2 blue white--text" style="height:32px; width:32px; padding:0; min-width:0;">
            <v-icon class="title">mdi-file</v-icon>
          </v-btn>
        </div>
        <div v-masonry="containerId" class="grid-item-container" transition-duration="0.3s" item-selector=".grid-item" gutter="0">

            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/0/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Dunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >



                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/10/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/20/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>

            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/40/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Dunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >



                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/120/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/210/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>

            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/30/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Dunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >



                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/110/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>
            <div v-masonry-tile class="grid-item">
              <v-card
                outlined
                class=""

              >
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="https://picsum.photos/id/240/600/400/"
                >
                </v-img>

                <v-card-title>
                  Top western road trips
                </v-card-title>

                <v-card-text>
                  <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  id est laborum.</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                  >
                    details
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                  >
                    <v-icon>mdi-bookmark</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </div>

        </div>

      </v-container>
    </v-content>

  </v-app>
</template>

<script>
export default {
  name: 'List',
  data: () => ({
      drawer: null,
    }),
}
</script>

<style lang="scss" scoped>
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow: hidden;
    max-height: 1.375*3+rem;
  }
  .grid-item{
    width: 25%;
    padding: 0 6px 12px;
    @media (max-width:1600px){
      width: 33.33%;
    }
    @media (max-width:991px){
      width: 50%;
    }
    @media (max-width:767px){
      width: 100%;
    }
  }
  .grid-item-container{
    margin-left: -6px;
    margin-right: -6px;
  }
</style>
